In [1]:
print("Hello Philip")

Hello Philip

In [2]:
import sys
print(sys.version)

3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 11:23:37) [Clang 14.0.6 ]

In [3]:
name = "Philip"
age = 23
gpa = 3.9
print(f"{name} is {age} years old with GPA {gpa}.")

Philip is 23 years old with GPA 3.9.

In [5]:
scores = [90, 82, 76, 95]
for s in scores:
    print("Score:", s)

Score: 90
Score: 82
Score: 76
Score: 95

In [6]:
student = {"name": "Philip", "major": "Engineering", "grad_year": 2025}
print(student["major"])

Engineering

In [7]:
def average(nums):
    return sum(nums) / len(nums)

print("Average:", average(scores))

Average: 85.75

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = {
    "Name": ["Alice", "Bob", "Cathy", "David"],
    "Age": [25, 30, 22, 35],
    "Score": [88, 92, 79, 95]
}
df = pd.DataFrame(data)

print(df)
print("Average score:", df["Score"].mean())

    Name  Age  Score
0  Alice   25     88
1    Bob   30     92
2  Cathy   22     79
3  David   35     95
Average score: 88.5